<div class="modal-header">
  <button class="close" data-dismiss="modal">
    <span>&times;</span>
  </button>
  <h4 class="modal-title">{{ trans('module::message.choose_course') }}</h4>
</div>

<div class="modal-body">

  {% include "streams::modals/filter" %}

  {% if not courses.isEmpty() %}
    <ul class="nav nav-pills nav-stacked">
      {% for course in courses %}
        <li class="nav-item">
          <a class="nav-link"
            href="{{ url_to('admin/lessons/create?course=' ~ course.id) }}"
          >
            <strong>{{ course.name }}</strong>
            <i>Duration:</i> {{ course.duration }} minutes.
            <br>
            <small>{{ course.description|raw }}</small>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ trans('streams::message.no_results') }}
  {% endif %}
</div>
